
* {
  margin: 0px;
}

@media (max-width: 640px) { 
 .title { 
  background-image: url("sources/img/football_767.jpg");
  background-size: cover;
  position: relative;
}

.title:before {
  content: "";
  background-color: #171837;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.title-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}

.title-logo {
  text-align: center;
  padding-top: 30px;
}

.title-icon {
  width: 133px;
  fill: #ffffff;
}

.title-container {
  margin-top: 30%;
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
}

.title-text {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 31px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
}

.play {
  padding-left: 40px;
  margin-top: 12px;
}

.title-footer {
  margin-bottom: 20%;
}

.centered {
  width: 115px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: 280px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  background-color: #5e42b0;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
}

.apple-icon, .google-icon {
  fill: #ffffff;
  width: 21px;
  margin-right: 7px;
}

span {
  display: block;
}

.button-text {
  display: inline-block;
  text-align: left;
}

.download-text {
  font-size: 8px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
}

.app-text, .google-text {
  font-size: 8px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
}

.google_play {
  margin-top: 12px;
}

.tema {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 50px;
  line-height: 60px;
  color: #e7e7e7;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 16px;
}  

.footballer-foto {
  height: 54%;
  width: 54%; 
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: -50px;
}

.footballer-foto-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
}

.connection {
  padding-top: 25px;
  padding-bottom: 54px;
  background-color: #fafafa;
}

.connection-content {
  padding-left: 20px;
  padding-right: 20px;
}

.athlets-number, .athlets-grnumber {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-right: 6px;
}

.athlets-number:before {
  content: "";
  width: 15px;
  height: 4px;
  border-radius: 1px;
  background-color: #5e42b0;  
  position: absolute;
  bottom: 5px;
}

.athlets-tema {
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #c1c1c1;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  padding-top: 50px;
  align-items: start;
  margin-bottom: 25px;
 }

.footballer-text, .footballer-grtext {
  width: 280px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 400;
}

.footballer-grtext {
  color: #ffffff;
}

.collaboration {
  background-color: #f5f4f9;
  padding-bottom: 40px;
}

.collaboration-content {
  padding: 0px 20px;
}

.growth {
  background-color: #5e42b0;
  min-height: 230px;
}

.growth-content {
  padding: 0px 20px;
}

.athlets-grnumber:before {
  content: "";
  width: 16px;
  height: 4px;
  border-radius: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: 5px;
}

.grtext {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
  font-family: "Open Sans";
  font-weight: 400;
}

.growth-basket {
  background-color: #090c35;
  padding-bottom: 45px;
}

.basket-grnumber {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #8765dd;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-right: 6px;
}

.basket-grnumber:before {
  content: "";
  width: 16px;
  height: 4px;
  border-radius: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: 5px;
}

.be_active-picture {
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/be-active_640.jpg");
  background-size: cover;
  position: relative;
  min-height: 360px;
}

.be_active-picture:after {
  content: "01";
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #f5f6f7;
  font-family: "Open Sans";
  font-weight: 700;
  background-color: #5e42b0;
  position: absolute;
  width: 70px;
  height: 70px;
  left: 20px;
  bottom: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.be_active-picture:before {
  content: "";
  width: 15px;
  height: 4px;
  border-radius: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: 10px;
  left: 47px;
  z-index: 1;
  opacity: 0.3;
}

.be_active-content {
  background-color: #ffffff;
  min-width: 230px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
}

.be_active-tema {
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #e7e7e7;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
}

.be_active-text {
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 400;
}

.find_contact-picture {
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/find-contact_640.jpg");
  background-size: cover;
  position: relative;
  min-height: 360px;
}

.find_contact-picture:after {
  content: "02";
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #f5f6f7;
  font-family: "Open Sans";
  font-weight: 700;
  background-color: #5e42b0;
  position: absolute;
  width: 70px;
  height: 70px;
  left: 20px;
  bottom: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.find_contact-picture:before {
  content: "";
  width: 15px;
  height: 4px;
  border-radius: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: 10px;
  left: 47px;
  z-index: 1;
  opacity: 0.3;
}

.work_it-picture {
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/work-it_640.jpg");
  background-size: cover;
  position: relative;
  min-height: 360px;
}

.work_it-picture:after {
  content: "03";
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #f5f6f7;
  font-family: "Open Sans";
  font-weight: 700;
  background-color: #5e42b0;
  position: absolute;
  width: 70px;
  height: 70px;
  left: 20px;
  bottom: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.work_it-picture:before {
  content: "";
  width: 15px;
  height: 4px;
  border-radius: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: 10px;
  left: 47px;
  z-index: 1;
  opacity: 0.3;
}

.footer {
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_767.jpg");
  background-size: cover;
  position: relative;
}

.footer:before {
  content: "";
  background-color: #171837;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.footer-container {
  padding-top: 20%;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.footer-logo {
  width: 70px;
  height: 70px;
  background-color: #6d4ec9;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  width: 55px;
  height: 45px;
  fill: #ffffff;
}

.footer-text {
  margin-top: 15%;
  margin-bottom: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.download {
  font-size: 32px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
}

.show {
  font-size: 14px;
  color: #9b8ec1;
  font-family: "Open Sans";
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
 
.footer-button {
  margin-bottom: 15%;
}
  
} 
@media (min-width: 641px) and (max-width: 960px) {
.title {
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg");
  background-size: cover;
  position: relative;
}

.title:before {
  content: "";
  background-color: #171837;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.title-header {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 87px;
  position: relative;
  z-index: 1;
}

.title-logo {
  text-align: center;
  padding-top: 35px;
}

.title-icon {
  width: 208px;
  fill: #ffffff;
}

.title-container {
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 34px;
  padding-right: 28px;
}

.title-text {
  width: 590px;
  margin-left: auto;
  margin-right: auto;
  font-size: 64px;
  letter-spacing: 3px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
}

.play {
  padding-left: 105px;
}

.title-footer {
  margin-top: 310px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.centered {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.button {
  width: 311px;
  height: 77px;
  border-radius: 38px;
  box-shadow: 8px 13.856px 24px #0a0e34;
  background-color: #5e42b0;
  border: none;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.apple-icon, .google-icon {
  fill: #ffffff;
  width: 45px;
  margin-right: 25px;
}

.apple-icon {
  width: 55px;
}

.button-text {
  display: flex;
  flex-wrap: wrap;
}

.download-text {
  font-size: 14px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0.8;
}

.app-text, .google-text {
  font-size: 14px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
}

.google_play {
  margin-top: 12px;
}

.footballer {
  position: relative;
  margin-top: 85px;
}

.tema {
  font-size: 80px;
  line-height: 60px;
  color: #e7e7e7;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 40vw;
}  

.tema-basket {
  padding-left: 30px;
  padding-right: 40vw;
  margin-top: 80px;
  margin-bottom: 50px;
}

.footballer-foto {
  height: 54%;
  width: 54%;
  position: absolute;
  left: -140px;
  top: 10px;
}

.footballer-foto-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.connection {
  background-color: #fafafa;
  padding-left: 40vw;
  padding-right: 35px;  
  padding-top: 55px;
  padding-bottom: 35px;
}

.connection-basket {
  padding-left: 30px;
  padding-right: 40vw;
}

.athlets-number, .athlets-grnumber {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-right: 6px;
}

.athlets-number:before {
  content: "";
  width: 15px;
  height: 4px;
  border-radius: 1px;
  background-color: #5e42b0;  
  position: absolute;
  bottom: 5px;
}

.athlets-tema {
  font-size: 32px;
  letter-spacing: 1px;
  color: #c1c1c1;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  padding-bottom: 25px;
 }

.footballer-text, .footballer-grtext {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 400;
}

.footballer-grtext {
  color: #ffffff;
}

.collaboration {
  background-color: #f5f4f9;
  padding-left: 40vw;
  padding-right: 35px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.collaboration-basket {
  padding-left: 30px;
  padding-right: 40vw;
}

.growth {
  background-color: #5e42b0;
  padding-left: 40vw;
  padding-right: 35px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.athlets-grnumber:before {
  content: "";
  width: 16px;
  height: 4px;
  border-radius: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: 5px;
}

.grtext {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
  font-family: "Open Sans";
  font-weight: 400;
}

.basketballer {
  position: relative;
}

.basketballer-foto {
  position: absolute;
  right: 0;
  top: 0;
}

.growth-basket {
  background-color: #090c35;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 40vw;
  padding-top: 30px;
  padding-bottom: 35px;
}

.basket-grnumber {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #8765dd;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-right: 6px;
}

.basket-grnumber:before {
  content: "";
  width: 16px;
  height: 4px;
  border-radius: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: 5px;
}

.be_active-picture {
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/be-active_960.jpg");
  background-size: cover;
  position: relative;
  min-height: 585px;
}

.be_active-picture:after {
  content: "01";
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #f5f6f7;
  font-family: "Open Sans";
  font-weight: 700;
  background-color: #5e42b0;
  position: absolute;
  width: 116px;
  height: 116px;
  left: 30px;
  bottom: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.be_active-picture:before {
  content: "";
  width: 25px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: 1px;
  left: 74px;
  z-index: 1;
  opacity: 0.3;
}

.be_active-content {
  background-color: #ffffff;
  margin-top: 80px;
  margin-left: 30px;
  margin-bottom: 90px;
  padding-right: 80px;
}

.be_active-tema {
  font-size: 80px;
  line-height: 60px;
  color: #c1c1c1;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.be_active-text {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 400;
 }

.find_contact-picture {
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/find-contact_960.jpg");
  background-size: cover;
  position: relative;
  min-height: 585px;
}

.find_contact-picture:after {
  content: "02";
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #f5f6f7;
  font-family: "Open Sans";
  font-weight: 700;
  background-color: #5e42b0;
  position: absolute;
  width: 116px;
  height: 116px;
  left: 30px;
  bottom: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.find_contact-picture:before {
  content: "";
  width: 25px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: 1px;
  left: 74px;
  z-index: 1;
  opacity: 0.3;
}

.work_it-picture {
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/work-it_960.jpg");
  background-size: cover;
  position: relative;
  min-height: 585px;
}

.work_it-picture:after {
  content: "03";
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #f5f6f7;
  font-family: "Open Sans";
  font-weight: 700;
  background-color: #5e42b0;
  position: absolute;
  width: 116px;
  height: 116px;
  left: 30px;
  bottom: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.work_it-picture:before {
  content: "";
  width: 25px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: 1px;
  left: 74px;
  z-index: 1;
  opacity: 0.3;
}


.footer {
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_767.jpg");
  background-size: cover;
  position: relative;
}

.footer:before {
  content: "";
  background-color: #171837;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.footer-container {
  padding-top: 115px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}

.footer-logo {
  width: 130px;
  height: 130px;
  background-color: #6e4acd;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-icon {
  width: 100px;
  fill: #ffffff;
}

.footer-text {
  margin-top: 67px;
  margin-bottom: 275px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.download {
  font-size: 78px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 60px;
  text-align: center;
}

.show {
  font-size: 36px;
  color: #a496ca;
  font-family: "Open Sans";
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
}

.footer-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 20px;
}
} 
@media (min-width: 961px) {
  .title {
  background-image: url("sources/img/football_1920.jpg");
  background-size: cover;
  position: relative;
}

.title:before {
  content: "";
  background-color: #171837;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.title-header {
  max-width: 1920px;
  padding-left: 190px;
  padding-right: 190px;
  padding-bottom: 105px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

.title-logo {
  text-align: center;
  padding-top: 35px;
}

.title-icon {
  width: 195px;
  fill: #ffffff;
}

.title-container {
  margin-top: 288px;
  display: flex;
  flex-wrap: wrap;
}
  
.title-text {
  font-size: 90px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
}

.recr {
  margin-right: auto;
}  
  
.play {
  margin-left: auto;
}

.title-footer {
  margin-top: 310px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.app_store {
  margin-right: 45px;
}
  
.centered {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.button {
  width: 311px;
  height: 77px;
  border-radius: 38px;
  box-shadow: 8px 13.856px 24px #0a0e34;
  background-color: #5e42b0;
  border: none;
  display: flex;
  align-items: center;
  text-decoration: none;
 }

.apple-icon, .google-icon {
  fill: #ffffff;
  width: 45px;
  margin-right: 25px;
}

.apple-icon {
  width: 55px;
}

.button-text {
  display: flex;
  flex-wrap: wrap;
}

.download-text {
  font-size: 14px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0.8;
}

.app-text, .google-text {
  font-size: 14px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
}

.footballer {
  position: relative;
  margin-top: 105px;
}

.tema {
  font-size: 80px;
  line-height: 60px;
  color: #e7e7e7;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 50vw;
}  

.tema-basket {
  padding-left: 190px;
  padding-right: 50vw;
  margin-top: 100px;
  margin-bottom: 65px
}

.footballer-foto {
  position: absolute;
  left: 140px;
  top: -60px;
}

.connection {
  background-color: #fafafa;
  padding-left: 50vw;
  padding-right: 190px;  
  padding-top: 55px;
  padding-bottom: 35px;
}

.connection-basket {
  padding-left: 190px;
  padding-right: 50vw;
  padding-bottom: 50px;
}

.athlets-number, .athlets-grnumber {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-right: 6px;
}

.athlets-number:before {
  content: "";
  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;  
  position: absolute;
  bottom: 5px;
}

.athlets-tema {
  font-size: 36px;
  letter-spacing: 2px;
  color: #c1c1c1;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  padding-bottom: 25px;
 }

.footballer-text, .footballer-grtext {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 400;
}

.footballer-grtext {
  color: #ffffff;
}

.collaboration {
  background-color: #f5f4f9;
  padding-left: 50vw;
  padding-right: 190px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.collaboration-basket {
  padding-left: 190px;
  padding-right: 50vw;
  width: 100vw;
  padding-bottom: 80px;
  padding-top: 40px;
}

.growth {
  background-color: #5e42b0;
  padding-left: 50vw;
  padding-right: 190px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.athlets-grnumber:before {
  content: "";
  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: 5px;
}

.grtext {
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px;
  font-family: "Open Sans";
  font-weight: 400;
}

.basketballer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.basketballer-foto {
  position: absolute;
  right: 5vw;
  top: 0;
}

.growth-basket {
  background-color: #090c35;
  padding-bottom: 45px;
  padding-left: 190px;
  padding-right: 50vw;
  padding-top: 40px;
  padding-bottom: 45px;
  width: 100vw;
}

.basket-grnumber {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #8765dd;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-right: 6px;
}

.basket-grnumber:before {
  content: "";
  width: 16px;
  height: 4px;
  border-radius: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: 5px;
}
  
.be_active {
  background-color: #ffffff;
}
  
.be_active-container { 
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

.be_active-picture {
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/be-active_960.jpg);
  background-size: cover;
  position: relative;
  background-position: center;
  min-height: 720px;
  width: 50%;
 }

.be_active-picture:after {
  content: "01";
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #f5f6f7;
  font-family: "Open Sans";
  font-weight: 700;
  background-color: #5e42b0;
  position: absolute;
  width: 168px;
  height: 155px;
  left: 89%;
  bottom: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.be_active-picture:before {
  content: "";
  width: 25px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: 57%;
  left: 98.3%;
  z-index: 1;
  opacity: 0.3;
}

.be_active-content {
  background-color: #ffffff;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  box-sizing: border-box;
  padding-left: 120px;
  padding-right: 190px;  
}

.be_active-tema {
  font-size: 80px;
  color: #c1c1c1;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 110px;
}

.be_active-text {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 400;
 }
  
.find_contact {
  background-color: #ffffff;
  }

.find_contact-container {
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  }
  
.find_contact-picture {
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/find-contact_960.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  min-height: 720px;
  width: 50%;
}

.find_contact-picture:after {
  content: "02";
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #f5f6f7;
  font-family: "Open Sans";
  font-weight: 700;
  background-color: #5e42b0;
  position: absolute;
  width: 168px;
  height: 155px;
  left: -11%;
  bottom: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.find_contact-picture:before {
  content: "";
  width: 25px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: 57%;
  left: -1.5%;
  z-index: 1;
  opacity: 0.3;
}
  
.find_contact-content {
  padding-left: 190px;
  padding-right: 120px;
}
  
.work_it {
  background-color: #ffffff;
}

.work_it-picture {
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/work-it_960.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  min-height: 720px;
  width: 50%;
}
  
.work_it-picture:after {
  content: "03";
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #f5f6f7;
  font-family: "Open Sans";
  font-weight: 700;
  background-color: #5e42b0;
  position: absolute;
  width: 168px;
  height: 155px;
  left: 89%;
  bottom: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.work_it-picture:before {
  content: "";
  width: 25px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: 57%;
  left: 98.3%;
  z-index: 1;
  opacity: 0.3;
}


.footer {
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_767.jpg");
  background-size: cover;
  position: relative;
}

.footer:before {
  content: "";
  background-color: #171837;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.footer-container {
  padding-top: 220px;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}
  
.logo-container {
  display: flex;
  justify-content: center;
  min-width: 961px;
  }

.footer-logo {
  width: 130px;
  height: 130px;
  background-color: #6e4acd;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  width: 100px;
  fill: #ffffff;
}

.footer-text {
  margin-left: 35px;
  height: 130px;
}

.download {
  font-size: 80px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.show {
  font-size: 30px;
  color: #a496ca;
  font-family: "Open Sans";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 34px;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 150px;
  margin-bottom: 245px;
}
  
}
